@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  color: #d3fa28;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  background-color: #111e99;
}

ul.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}
.item {
  margin: 2rem;
}
a:link,
a:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #7d0392;
}
h1 {
  text-align: center;
  font-size: 5rem;
}
a:active {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #d3fa28;
}
a:visited {
  text-decoration: none;
}
button {
  background: #d3fa28;
  border: none;
  border: outset #1d2dc6;
  box-shadow: #606cda 10px 10px -5px;
  margin: 0.5rem;
  width: 165px;
}
button:active {
  background: #7d0392;
}
p {
  font-size: 40px;
  text-align: center;
}
.pictures img {
  border: white 2px solid;
  box-shadow: #5a6beb 10px 10px -5px;
}
.construction img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
}
.pictures {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  row-gap: 2rem;
}
.construction h1 {
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 1000px) {
  .construction img {
    min-width: 800px;
  }
}

@media only screen and (max-width: 835px) {
  .pictures {
    grid-template-columns: repeat(2, 40%);
  }
  .construction img {
    min-width: 600px;
  }
  ul.menu {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (max-width: 515px) {
  .construction img {
    min-width: 500px;
  }
  ul.menu {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
